@charset "UTF-8";

#admission {
  margin: 0;
  padding: 0 6px;
  height: auto;
}

table.fee-table {
  margin-bottom: 1em;
  border-collapse: separate;
  border-spacing: 3px;
  border: 1px #000000 solid;

  td {
    padding: 6px 10px;
    border: 1px #000000 solid;
  }
}

.admission-text {
  margin-bottom: 1em;

  .admission-text-heading {
    font-size: 1.6em;
    font-weight: bold;
  }
}