@charset "UTF-8";

#guide {
  margin: 0;
  padding: 0 6px;
  width: 716px; /* 728px -12px(padding) */
  height: auto;

  table.guide-table {
    width: 716px;
    border-collapse: collapse;
    border-spacing: 0;

    td {
      padding: 20px 26px;
      text-align: left;
      vertical-align: top;

      img {
        box-shadow: 2px 2px 1px 1px #CCCCCC;
        -webkit-box-shadow: 2px 2px 1px 1px #CCCCCC;
        -moz-box-shadow: 2px 2px 1px 1px #CCCCCC;
      }

      p {
        margin-bottom: 1em;
        padding-left: 6px;
        border-left: 4px #EE0000 solid;
        text-align: left;

        span {
          font-weight: bold;
        }
      }
    }
  }
}
