@charset "utf-8";

/* ------------------------ */
/* 会員さんからの一言 */
/* -------------------------*/

#members-voice {
  display: block;
  margin-bottom: 6px;
  width: 728px;
  height: auto;
  background-color: #FFD2D2;
}

#members-voice .members-voice-top {
  width: 728px;
  height: 14px;
  background-color: #FFD2D2;
  background-image: url(../img/bgimg_voice_top.gif);
  background-repeat: no-repeat;
}

#members-voice .members-voice-name {
  width: 728px;
  height: auto;
  background-color: #FFD2D2;
}

#members-voice .members-voice-name p {
  padding-left: 14px;
  padding-bottom: 4px;
}

#members-voice .members-voice-main {
  position: relative;
  width: 728px;
  height: 72px;
  background-color: #FFD2D2;
  background-image: url(../img/bgimg_voice_main.gif);
  background-repeat: no-repeat;
}

#members-voice .members-voice-main #members-voice-thumb {
  position: absolute;
  top: 0;
  left: 14px;
  width: 72px;
  height: 72px;
}

#members-voice .members-voice-main #members-voice-shout {
  position: absolute;
  top: 0;
  left: 105px;
  overflow: hidden;
  padding: 10px;
  width: 590px; /* 610px -20px(padding) */
  height: 50px; /* 70px -20px(padding) */
}

#members-voice .members-voice-bottom {
  width: 728px;
  height: 14px;
  background-color: #FFD2D2;
  background-image: url(../img/bgimg_voice_bottom.gif);
  background-repeat: no-repeat;
}
