@charset "utf-8";


/* decoration.css
-------------------------------------*/

h3 {
	display: block;
	margin-bottom: 1em;
	width: auto;
	height: 40px;
	background-color: #EE0000;
	background-image: url(/img/bgimg_title_box.gif);
	background-repeat: repeat-x;
	border: 1px #F0F0F0 solid;
	outline: 1px #CCCCCC solid;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 40px;
	text-indent: 1em;
	letter-spacing: 1px;
}




