@charset "utf-8";

/************/
/* KIDS */
/************/

#kids {
	margin: 0;
	padding: 0 6px;
	width: 716px; /* 728px -12px(padding) */
	height: auto;
  font-size: 1.2em;
}

#kids p {
  margin-bottom: 1em;
}

#kids ul {
}

#kids ul li {
  margin-left: 1em;
}
