@charset "utf-8";

/***********/
/* LINK */
/***********/

#link {  
  padding: 0 6px;
}

#link dl {  
  display: block;
  margin-bottom: 1em;
}

#link dl dt {  
  font-size: 1.2em;
  font-weight: bold;
}

#link dl dd {
}

#link dl dd table {  
  border-collapse: separate;
  border-spacing: 4px;
}

#link dl dd table th,
#link dl dd table td {  
  vertical-align: top;
  text-align: left;
}

#link dl dd table td {  
  padding-top: 3px;
}
