body {
  padding-bottom: 1em;
  background-color: #EE0000;
  color: #333333;
  line-height: 1.3; }

a:link {
  color: #0646A0;
  text-decoration: none; }

a:visited {
  color: #551A8B;
  text-decoration: none; }

a:hover,
a:active {
  color: #EE0000;
  text-decoration: underline; }
