.fs-xsm {
  font-size: 0.75rem; }

.fs-sm {
  font-size: 0.875rem; }

.fs-md {
  font-size: 1rem; }

.fs-lg {
  font-size: 1.25rem; }

.fs-xlg {
  font-size: 1.75rem; }

.vw-10 {
  width: 10vw !important; }

.vw-20 {
  width: 20vw !important; }

.vw-30 {
  width: 30vw !important; }

.vw-40 {
  width: 40vw !important; }

.vw-50 {
  width: 50vw !important; }

.vw-60 {
  width: 60vw !important; }

.vw-70 {
  width: 70vw !important; }

.vw-80 {
  width: 80vw !important; }

.vw-90 {
  width: 90vw !important; }

.vh-10 {
  height: 10vh !important; }

.vh-20 {
  height: 20vh !important; }

.vh-30 {
  height: 30vh !important; }

.vh-40 {
  height: 40vh !important; }

.vh-50 {
  height: 50vh !important; }

.vh-60 {
  height: 60vh !important; }

.vh-70 {
  height: 70vh !important; }

.vh-80 {
  height: 80vh !important; }

.vh-90 {
  height: 90vh !important; }

.w-1-rem {
  width: 1rem !important; }

.min-w-1-rem {
  min-width: 1rem !important; }

.max-w-1-rem {
  max-width: 1rem !important; }

.w-11-rem {
  width: 11rem !important; }

.min-w-11-rem {
  min-width: 11rem !important; }

.max-w-11-rem {
  max-width: 11rem !important; }

.w-21-rem {
  width: 21rem !important; }

.min-w-21-rem {
  min-width: 21rem !important; }

.max-w-21-rem {
  max-width: 21rem !important; }

.w-31-rem {
  width: 31rem !important; }

.min-w-31-rem {
  min-width: 31rem !important; }

.max-w-31-rem {
  max-width: 31rem !important; }

.w-41-rem {
  width: 41rem !important; }

.min-w-41-rem {
  min-width: 41rem !important; }

.max-w-41-rem {
  max-width: 41rem !important; }

.w-51-rem {
  width: 51rem !important; }

.min-w-51-rem {
  min-width: 51rem !important; }

.max-w-51-rem {
  max-width: 51rem !important; }

.w-61-rem {
  width: 61rem !important; }

.min-w-61-rem {
  min-width: 61rem !important; }

.max-w-61-rem {
  max-width: 61rem !important; }

.w-71-rem {
  width: 71rem !important; }

.min-w-71-rem {
  min-width: 71rem !important; }

.max-w-71-rem {
  max-width: 71rem !important; }

.w-81-rem {
  width: 81rem !important; }

.min-w-81-rem {
  min-width: 81rem !important; }

.max-w-81-rem {
  max-width: 81rem !important; }

.w-91-rem {
  width: 91rem !important; }

.min-w-91-rem {
  min-width: 91rem !important; }

.max-w-91-rem {
  max-width: 91rem !important; }

.w-2-rem {
  width: 2rem !important; }

.min-w-2-rem {
  min-width: 2rem !important; }

.max-w-2-rem {
  max-width: 2rem !important; }

.w-12-rem {
  width: 12rem !important; }

.min-w-12-rem {
  min-width: 12rem !important; }

.max-w-12-rem {
  max-width: 12rem !important; }

.w-22-rem {
  width: 22rem !important; }

.min-w-22-rem {
  min-width: 22rem !important; }

.max-w-22-rem {
  max-width: 22rem !important; }

.w-32-rem {
  width: 32rem !important; }

.min-w-32-rem {
  min-width: 32rem !important; }

.max-w-32-rem {
  max-width: 32rem !important; }

.w-42-rem {
  width: 42rem !important; }

.min-w-42-rem {
  min-width: 42rem !important; }

.max-w-42-rem {
  max-width: 42rem !important; }

.w-52-rem {
  width: 52rem !important; }

.min-w-52-rem {
  min-width: 52rem !important; }

.max-w-52-rem {
  max-width: 52rem !important; }

.w-62-rem {
  width: 62rem !important; }

.min-w-62-rem {
  min-width: 62rem !important; }

.max-w-62-rem {
  max-width: 62rem !important; }

.w-72-rem {
  width: 72rem !important; }

.min-w-72-rem {
  min-width: 72rem !important; }

.max-w-72-rem {
  max-width: 72rem !important; }

.w-82-rem {
  width: 82rem !important; }

.min-w-82-rem {
  min-width: 82rem !important; }

.max-w-82-rem {
  max-width: 82rem !important; }

.w-92-rem {
  width: 92rem !important; }

.min-w-92-rem {
  min-width: 92rem !important; }

.max-w-92-rem {
  max-width: 92rem !important; }

.w-3-rem {
  width: 3rem !important; }

.min-w-3-rem {
  min-width: 3rem !important; }

.max-w-3-rem {
  max-width: 3rem !important; }

.w-13-rem {
  width: 13rem !important; }

.min-w-13-rem {
  min-width: 13rem !important; }

.max-w-13-rem {
  max-width: 13rem !important; }

.w-23-rem {
  width: 23rem !important; }

.min-w-23-rem {
  min-width: 23rem !important; }

.max-w-23-rem {
  max-width: 23rem !important; }

.w-33-rem {
  width: 33rem !important; }

.min-w-33-rem {
  min-width: 33rem !important; }

.max-w-33-rem {
  max-width: 33rem !important; }

.w-43-rem {
  width: 43rem !important; }

.min-w-43-rem {
  min-width: 43rem !important; }

.max-w-43-rem {
  max-width: 43rem !important; }

.w-53-rem {
  width: 53rem !important; }

.min-w-53-rem {
  min-width: 53rem !important; }

.max-w-53-rem {
  max-width: 53rem !important; }

.w-63-rem {
  width: 63rem !important; }

.min-w-63-rem {
  min-width: 63rem !important; }

.max-w-63-rem {
  max-width: 63rem !important; }

.w-73-rem {
  width: 73rem !important; }

.min-w-73-rem {
  min-width: 73rem !important; }

.max-w-73-rem {
  max-width: 73rem !important; }

.w-83-rem {
  width: 83rem !important; }

.min-w-83-rem {
  min-width: 83rem !important; }

.max-w-83-rem {
  max-width: 83rem !important; }

.w-93-rem {
  width: 93rem !important; }

.min-w-93-rem {
  min-width: 93rem !important; }

.max-w-93-rem {
  max-width: 93rem !important; }

.w-4-rem {
  width: 4rem !important; }

.min-w-4-rem {
  min-width: 4rem !important; }

.max-w-4-rem {
  max-width: 4rem !important; }

.w-14-rem {
  width: 14rem !important; }

.min-w-14-rem {
  min-width: 14rem !important; }

.max-w-14-rem {
  max-width: 14rem !important; }

.w-24-rem {
  width: 24rem !important; }

.min-w-24-rem {
  min-width: 24rem !important; }

.max-w-24-rem {
  max-width: 24rem !important; }

.w-34-rem {
  width: 34rem !important; }

.min-w-34-rem {
  min-width: 34rem !important; }

.max-w-34-rem {
  max-width: 34rem !important; }

.w-44-rem {
  width: 44rem !important; }

.min-w-44-rem {
  min-width: 44rem !important; }

.max-w-44-rem {
  max-width: 44rem !important; }

.w-54-rem {
  width: 54rem !important; }

.min-w-54-rem {
  min-width: 54rem !important; }

.max-w-54-rem {
  max-width: 54rem !important; }

.w-64-rem {
  width: 64rem !important; }

.min-w-64-rem {
  min-width: 64rem !important; }

.max-w-64-rem {
  max-width: 64rem !important; }

.w-74-rem {
  width: 74rem !important; }

.min-w-74-rem {
  min-width: 74rem !important; }

.max-w-74-rem {
  max-width: 74rem !important; }

.w-84-rem {
  width: 84rem !important; }

.min-w-84-rem {
  min-width: 84rem !important; }

.max-w-84-rem {
  max-width: 84rem !important; }

.w-94-rem {
  width: 94rem !important; }

.min-w-94-rem {
  min-width: 94rem !important; }

.max-w-94-rem {
  max-width: 94rem !important; }

.w-5-rem {
  width: 5rem !important; }

.min-w-5-rem {
  min-width: 5rem !important; }

.max-w-5-rem {
  max-width: 5rem !important; }

.w-15-rem {
  width: 15rem !important; }

.min-w-15-rem {
  min-width: 15rem !important; }

.max-w-15-rem {
  max-width: 15rem !important; }

.w-25-rem {
  width: 25rem !important; }

.min-w-25-rem {
  min-width: 25rem !important; }

.max-w-25-rem {
  max-width: 25rem !important; }

.w-35-rem {
  width: 35rem !important; }

.min-w-35-rem {
  min-width: 35rem !important; }

.max-w-35-rem {
  max-width: 35rem !important; }

.w-45-rem {
  width: 45rem !important; }

.min-w-45-rem {
  min-width: 45rem !important; }

.max-w-45-rem {
  max-width: 45rem !important; }

.w-55-rem {
  width: 55rem !important; }

.min-w-55-rem {
  min-width: 55rem !important; }

.max-w-55-rem {
  max-width: 55rem !important; }

.w-65-rem {
  width: 65rem !important; }

.min-w-65-rem {
  min-width: 65rem !important; }

.max-w-65-rem {
  max-width: 65rem !important; }

.w-75-rem {
  width: 75rem !important; }

.min-w-75-rem {
  min-width: 75rem !important; }

.max-w-75-rem {
  max-width: 75rem !important; }

.w-85-rem {
  width: 85rem !important; }

.min-w-85-rem {
  min-width: 85rem !important; }

.max-w-85-rem {
  max-width: 85rem !important; }

.w-95-rem {
  width: 95rem !important; }

.min-w-95-rem {
  min-width: 95rem !important; }

.max-w-95-rem {
  max-width: 95rem !important; }

.w-6-rem {
  width: 6rem !important; }

.min-w-6-rem {
  min-width: 6rem !important; }

.max-w-6-rem {
  max-width: 6rem !important; }

.w-16-rem {
  width: 16rem !important; }

.min-w-16-rem {
  min-width: 16rem !important; }

.max-w-16-rem {
  max-width: 16rem !important; }

.w-26-rem {
  width: 26rem !important; }

.min-w-26-rem {
  min-width: 26rem !important; }

.max-w-26-rem {
  max-width: 26rem !important; }

.w-36-rem {
  width: 36rem !important; }

.min-w-36-rem {
  min-width: 36rem !important; }

.max-w-36-rem {
  max-width: 36rem !important; }

.w-46-rem {
  width: 46rem !important; }

.min-w-46-rem {
  min-width: 46rem !important; }

.max-w-46-rem {
  max-width: 46rem !important; }

.w-56-rem {
  width: 56rem !important; }

.min-w-56-rem {
  min-width: 56rem !important; }

.max-w-56-rem {
  max-width: 56rem !important; }

.w-66-rem {
  width: 66rem !important; }

.min-w-66-rem {
  min-width: 66rem !important; }

.max-w-66-rem {
  max-width: 66rem !important; }

.w-76-rem {
  width: 76rem !important; }

.min-w-76-rem {
  min-width: 76rem !important; }

.max-w-76-rem {
  max-width: 76rem !important; }

.w-86-rem {
  width: 86rem !important; }

.min-w-86-rem {
  min-width: 86rem !important; }

.max-w-86-rem {
  max-width: 86rem !important; }

.w-96-rem {
  width: 96rem !important; }

.min-w-96-rem {
  min-width: 96rem !important; }

.max-w-96-rem {
  max-width: 96rem !important; }

.w-7-rem {
  width: 7rem !important; }

.min-w-7-rem {
  min-width: 7rem !important; }

.max-w-7-rem {
  max-width: 7rem !important; }

.w-17-rem {
  width: 17rem !important; }

.min-w-17-rem {
  min-width: 17rem !important; }

.max-w-17-rem {
  max-width: 17rem !important; }

.w-27-rem {
  width: 27rem !important; }

.min-w-27-rem {
  min-width: 27rem !important; }

.max-w-27-rem {
  max-width: 27rem !important; }

.w-37-rem {
  width: 37rem !important; }

.min-w-37-rem {
  min-width: 37rem !important; }

.max-w-37-rem {
  max-width: 37rem !important; }

.w-47-rem {
  width: 47rem !important; }

.min-w-47-rem {
  min-width: 47rem !important; }

.max-w-47-rem {
  max-width: 47rem !important; }

.w-57-rem {
  width: 57rem !important; }

.min-w-57-rem {
  min-width: 57rem !important; }

.max-w-57-rem {
  max-width: 57rem !important; }

.w-67-rem {
  width: 67rem !important; }

.min-w-67-rem {
  min-width: 67rem !important; }

.max-w-67-rem {
  max-width: 67rem !important; }

.w-77-rem {
  width: 77rem !important; }

.min-w-77-rem {
  min-width: 77rem !important; }

.max-w-77-rem {
  max-width: 77rem !important; }

.w-87-rem {
  width: 87rem !important; }

.min-w-87-rem {
  min-width: 87rem !important; }

.max-w-87-rem {
  max-width: 87rem !important; }

.w-97-rem {
  width: 97rem !important; }

.min-w-97-rem {
  min-width: 97rem !important; }

.max-w-97-rem {
  max-width: 97rem !important; }

.w-8-rem {
  width: 8rem !important; }

.min-w-8-rem {
  min-width: 8rem !important; }

.max-w-8-rem {
  max-width: 8rem !important; }

.w-18-rem {
  width: 18rem !important; }

.min-w-18-rem {
  min-width: 18rem !important; }

.max-w-18-rem {
  max-width: 18rem !important; }

.w-28-rem {
  width: 28rem !important; }

.min-w-28-rem {
  min-width: 28rem !important; }

.max-w-28-rem {
  max-width: 28rem !important; }

.w-38-rem {
  width: 38rem !important; }

.min-w-38-rem {
  min-width: 38rem !important; }

.max-w-38-rem {
  max-width: 38rem !important; }

.w-48-rem {
  width: 48rem !important; }

.min-w-48-rem {
  min-width: 48rem !important; }

.max-w-48-rem {
  max-width: 48rem !important; }

.w-58-rem {
  width: 58rem !important; }

.min-w-58-rem {
  min-width: 58rem !important; }

.max-w-58-rem {
  max-width: 58rem !important; }

.w-68-rem {
  width: 68rem !important; }

.min-w-68-rem {
  min-width: 68rem !important; }

.max-w-68-rem {
  max-width: 68rem !important; }

.w-78-rem {
  width: 78rem !important; }

.min-w-78-rem {
  min-width: 78rem !important; }

.max-w-78-rem {
  max-width: 78rem !important; }

.w-88-rem {
  width: 88rem !important; }

.min-w-88-rem {
  min-width: 88rem !important; }

.max-w-88-rem {
  max-width: 88rem !important; }

.w-98-rem {
  width: 98rem !important; }

.min-w-98-rem {
  min-width: 98rem !important; }

.max-w-98-rem {
  max-width: 98rem !important; }

.w-9-rem {
  width: 9rem !important; }

.min-w-9-rem {
  min-width: 9rem !important; }

.max-w-9-rem {
  max-width: 9rem !important; }

.w-19-rem {
  width: 19rem !important; }

.min-w-19-rem {
  min-width: 19rem !important; }

.max-w-19-rem {
  max-width: 19rem !important; }

.w-29-rem {
  width: 29rem !important; }

.min-w-29-rem {
  min-width: 29rem !important; }

.max-w-29-rem {
  max-width: 29rem !important; }

.w-39-rem {
  width: 39rem !important; }

.min-w-39-rem {
  min-width: 39rem !important; }

.max-w-39-rem {
  max-width: 39rem !important; }

.w-49-rem {
  width: 49rem !important; }

.min-w-49-rem {
  min-width: 49rem !important; }

.max-w-49-rem {
  max-width: 49rem !important; }

.w-59-rem {
  width: 59rem !important; }

.min-w-59-rem {
  min-width: 59rem !important; }

.max-w-59-rem {
  max-width: 59rem !important; }

.w-69-rem {
  width: 69rem !important; }

.min-w-69-rem {
  min-width: 69rem !important; }

.max-w-69-rem {
  max-width: 69rem !important; }

.w-79-rem {
  width: 79rem !important; }

.min-w-79-rem {
  min-width: 79rem !important; }

.max-w-79-rem {
  max-width: 79rem !important; }

.w-89-rem {
  width: 89rem !important; }

.min-w-89-rem {
  min-width: 89rem !important; }

.max-w-89-rem {
  max-width: 89rem !important; }

.w-99-rem {
  width: 99rem !important; }

.min-w-99-rem {
  min-width: 99rem !important; }

.max-w-99-rem {
  max-width: 99rem !important; }

.w-10-rem {
  width: 10rem !important; }

.min-w-10-rem {
  min-width: 10rem !important; }

.max-w-10-rem {
  max-width: 10rem !important; }

.w-20-rem {
  width: 20rem !important; }

.min-w-20-rem {
  min-width: 20rem !important; }

.max-w-20-rem {
  max-width: 20rem !important; }

.w-30-rem {
  width: 30rem !important; }

.min-w-30-rem {
  min-width: 30rem !important; }

.max-w-30-rem {
  max-width: 30rem !important; }

.w-40-rem {
  width: 40rem !important; }

.min-w-40-rem {
  min-width: 40rem !important; }

.max-w-40-rem {
  max-width: 40rem !important; }

.w-50-rem {
  width: 50rem !important; }

.min-w-50-rem {
  min-width: 50rem !important; }

.max-w-50-rem {
  max-width: 50rem !important; }

.w-60-rem {
  width: 60rem !important; }

.min-w-60-rem {
  min-width: 60rem !important; }

.max-w-60-rem {
  max-width: 60rem !important; }

.w-70-rem {
  width: 70rem !important; }

.min-w-70-rem {
  min-width: 70rem !important; }

.max-w-70-rem {
  max-width: 70rem !important; }

.w-80-rem {
  width: 80rem !important; }

.min-w-80-rem {
  min-width: 80rem !important; }

.max-w-80-rem {
  max-width: 80rem !important; }

.w-90-rem {
  width: 90rem !important; }

.min-w-90-rem {
  min-width: 90rem !important; }

.max-w-90-rem {
  max-width: 90rem !important; }

.w-100-rem {
  width: 100rem !important; }

.min-w-100-rem {
  min-width: 100rem !important; }

.max-w-100-rem {
  max-width: 100rem !important; }

.h-1-rem {
  height: 1rem !important; }

.min-h-1-rem {
  min-height: 1rem !important; }

.max-h-1-rem {
  max-height: 1rem !important; }

.h-11-rem {
  height: 11rem !important; }

.min-h-11-rem {
  min-height: 11rem !important; }

.max-h-11-rem {
  max-height: 11rem !important; }

.h-21-rem {
  height: 21rem !important; }

.min-h-21-rem {
  min-height: 21rem !important; }

.max-h-21-rem {
  max-height: 21rem !important; }

.h-31-rem {
  height: 31rem !important; }

.min-h-31-rem {
  min-height: 31rem !important; }

.max-h-31-rem {
  max-height: 31rem !important; }

.h-41-rem {
  height: 41rem !important; }

.min-h-41-rem {
  min-height: 41rem !important; }

.max-h-41-rem {
  max-height: 41rem !important; }

.h-51-rem {
  height: 51rem !important; }

.min-h-51-rem {
  min-height: 51rem !important; }

.max-h-51-rem {
  max-height: 51rem !important; }

.h-61-rem {
  height: 61rem !important; }

.min-h-61-rem {
  min-height: 61rem !important; }

.max-h-61-rem {
  max-height: 61rem !important; }

.h-71-rem {
  height: 71rem !important; }

.min-h-71-rem {
  min-height: 71rem !important; }

.max-h-71-rem {
  max-height: 71rem !important; }

.h-81-rem {
  height: 81rem !important; }

.min-h-81-rem {
  min-height: 81rem !important; }

.max-h-81-rem {
  max-height: 81rem !important; }

.h-91-rem {
  height: 91rem !important; }

.min-h-91-rem {
  min-height: 91rem !important; }

.max-h-91-rem {
  max-height: 91rem !important; }

.h-2-rem {
  height: 2rem !important; }

.min-h-2-rem {
  min-height: 2rem !important; }

.max-h-2-rem {
  max-height: 2rem !important; }

.h-12-rem {
  height: 12rem !important; }

.min-h-12-rem {
  min-height: 12rem !important; }

.max-h-12-rem {
  max-height: 12rem !important; }

.h-22-rem {
  height: 22rem !important; }

.min-h-22-rem {
  min-height: 22rem !important; }

.max-h-22-rem {
  max-height: 22rem !important; }

.h-32-rem {
  height: 32rem !important; }

.min-h-32-rem {
  min-height: 32rem !important; }

.max-h-32-rem {
  max-height: 32rem !important; }

.h-42-rem {
  height: 42rem !important; }

.min-h-42-rem {
  min-height: 42rem !important; }

.max-h-42-rem {
  max-height: 42rem !important; }

.h-52-rem {
  height: 52rem !important; }

.min-h-52-rem {
  min-height: 52rem !important; }

.max-h-52-rem {
  max-height: 52rem !important; }

.h-62-rem {
  height: 62rem !important; }

.min-h-62-rem {
  min-height: 62rem !important; }

.max-h-62-rem {
  max-height: 62rem !important; }

.h-72-rem {
  height: 72rem !important; }

.min-h-72-rem {
  min-height: 72rem !important; }

.max-h-72-rem {
  max-height: 72rem !important; }

.h-82-rem {
  height: 82rem !important; }

.min-h-82-rem {
  min-height: 82rem !important; }

.max-h-82-rem {
  max-height: 82rem !important; }

.h-92-rem {
  height: 92rem !important; }

.min-h-92-rem {
  min-height: 92rem !important; }

.max-h-92-rem {
  max-height: 92rem !important; }

.h-3-rem {
  height: 3rem !important; }

.min-h-3-rem {
  min-height: 3rem !important; }

.max-h-3-rem {
  max-height: 3rem !important; }

.h-13-rem {
  height: 13rem !important; }

.min-h-13-rem {
  min-height: 13rem !important; }

.max-h-13-rem {
  max-height: 13rem !important; }

.h-23-rem {
  height: 23rem !important; }

.min-h-23-rem {
  min-height: 23rem !important; }

.max-h-23-rem {
  max-height: 23rem !important; }

.h-33-rem {
  height: 33rem !important; }

.min-h-33-rem {
  min-height: 33rem !important; }

.max-h-33-rem {
  max-height: 33rem !important; }

.h-43-rem {
  height: 43rem !important; }

.min-h-43-rem {
  min-height: 43rem !important; }

.max-h-43-rem {
  max-height: 43rem !important; }

.h-53-rem {
  height: 53rem !important; }

.min-h-53-rem {
  min-height: 53rem !important; }

.max-h-53-rem {
  max-height: 53rem !important; }

.h-63-rem {
  height: 63rem !important; }

.min-h-63-rem {
  min-height: 63rem !important; }

.max-h-63-rem {
  max-height: 63rem !important; }

.h-73-rem {
  height: 73rem !important; }

.min-h-73-rem {
  min-height: 73rem !important; }

.max-h-73-rem {
  max-height: 73rem !important; }

.h-83-rem {
  height: 83rem !important; }

.min-h-83-rem {
  min-height: 83rem !important; }

.max-h-83-rem {
  max-height: 83rem !important; }

.h-93-rem {
  height: 93rem !important; }

.min-h-93-rem {
  min-height: 93rem !important; }

.max-h-93-rem {
  max-height: 93rem !important; }

.h-4-rem {
  height: 4rem !important; }

.min-h-4-rem {
  min-height: 4rem !important; }

.max-h-4-rem {
  max-height: 4rem !important; }

.h-14-rem {
  height: 14rem !important; }

.min-h-14-rem {
  min-height: 14rem !important; }

.max-h-14-rem {
  max-height: 14rem !important; }

.h-24-rem {
  height: 24rem !important; }

.min-h-24-rem {
  min-height: 24rem !important; }

.max-h-24-rem {
  max-height: 24rem !important; }

.h-34-rem {
  height: 34rem !important; }

.min-h-34-rem {
  min-height: 34rem !important; }

.max-h-34-rem {
  max-height: 34rem !important; }

.h-44-rem {
  height: 44rem !important; }

.min-h-44-rem {
  min-height: 44rem !important; }

.max-h-44-rem {
  max-height: 44rem !important; }

.h-54-rem {
  height: 54rem !important; }

.min-h-54-rem {
  min-height: 54rem !important; }

.max-h-54-rem {
  max-height: 54rem !important; }

.h-64-rem {
  height: 64rem !important; }

.min-h-64-rem {
  min-height: 64rem !important; }

.max-h-64-rem {
  max-height: 64rem !important; }

.h-74-rem {
  height: 74rem !important; }

.min-h-74-rem {
  min-height: 74rem !important; }

.max-h-74-rem {
  max-height: 74rem !important; }

.h-84-rem {
  height: 84rem !important; }

.min-h-84-rem {
  min-height: 84rem !important; }

.max-h-84-rem {
  max-height: 84rem !important; }

.h-94-rem {
  height: 94rem !important; }

.min-h-94-rem {
  min-height: 94rem !important; }

.max-h-94-rem {
  max-height: 94rem !important; }

.h-5-rem {
  height: 5rem !important; }

.min-h-5-rem {
  min-height: 5rem !important; }

.max-h-5-rem {
  max-height: 5rem !important; }

.h-15-rem {
  height: 15rem !important; }

.min-h-15-rem {
  min-height: 15rem !important; }

.max-h-15-rem {
  max-height: 15rem !important; }

.h-25-rem {
  height: 25rem !important; }

.min-h-25-rem {
  min-height: 25rem !important; }

.max-h-25-rem {
  max-height: 25rem !important; }

.h-35-rem {
  height: 35rem !important; }

.min-h-35-rem {
  min-height: 35rem !important; }

.max-h-35-rem {
  max-height: 35rem !important; }

.h-45-rem {
  height: 45rem !important; }

.min-h-45-rem {
  min-height: 45rem !important; }

.max-h-45-rem {
  max-height: 45rem !important; }

.h-55-rem {
  height: 55rem !important; }

.min-h-55-rem {
  min-height: 55rem !important; }

.max-h-55-rem {
  max-height: 55rem !important; }

.h-65-rem {
  height: 65rem !important; }

.min-h-65-rem {
  min-height: 65rem !important; }

.max-h-65-rem {
  max-height: 65rem !important; }

.h-75-rem {
  height: 75rem !important; }

.min-h-75-rem {
  min-height: 75rem !important; }

.max-h-75-rem {
  max-height: 75rem !important; }

.h-85-rem {
  height: 85rem !important; }

.min-h-85-rem {
  min-height: 85rem !important; }

.max-h-85-rem {
  max-height: 85rem !important; }

.h-95-rem {
  height: 95rem !important; }

.min-h-95-rem {
  min-height: 95rem !important; }

.max-h-95-rem {
  max-height: 95rem !important; }

.h-6-rem {
  height: 6rem !important; }

.min-h-6-rem {
  min-height: 6rem !important; }

.max-h-6-rem {
  max-height: 6rem !important; }

.h-16-rem {
  height: 16rem !important; }

.min-h-16-rem {
  min-height: 16rem !important; }

.max-h-16-rem {
  max-height: 16rem !important; }

.h-26-rem {
  height: 26rem !important; }

.min-h-26-rem {
  min-height: 26rem !important; }

.max-h-26-rem {
  max-height: 26rem !important; }

.h-36-rem {
  height: 36rem !important; }

.min-h-36-rem {
  min-height: 36rem !important; }

.max-h-36-rem {
  max-height: 36rem !important; }

.h-46-rem {
  height: 46rem !important; }

.min-h-46-rem {
  min-height: 46rem !important; }

.max-h-46-rem {
  max-height: 46rem !important; }

.h-56-rem {
  height: 56rem !important; }

.min-h-56-rem {
  min-height: 56rem !important; }

.max-h-56-rem {
  max-height: 56rem !important; }

.h-66-rem {
  height: 66rem !important; }

.min-h-66-rem {
  min-height: 66rem !important; }

.max-h-66-rem {
  max-height: 66rem !important; }

.h-76-rem {
  height: 76rem !important; }

.min-h-76-rem {
  min-height: 76rem !important; }

.max-h-76-rem {
  max-height: 76rem !important; }

.h-86-rem {
  height: 86rem !important; }

.min-h-86-rem {
  min-height: 86rem !important; }

.max-h-86-rem {
  max-height: 86rem !important; }

.h-96-rem {
  height: 96rem !important; }

.min-h-96-rem {
  min-height: 96rem !important; }

.max-h-96-rem {
  max-height: 96rem !important; }

.h-7-rem {
  height: 7rem !important; }

.min-h-7-rem {
  min-height: 7rem !important; }

.max-h-7-rem {
  max-height: 7rem !important; }

.h-17-rem {
  height: 17rem !important; }

.min-h-17-rem {
  min-height: 17rem !important; }

.max-h-17-rem {
  max-height: 17rem !important; }

.h-27-rem {
  height: 27rem !important; }

.min-h-27-rem {
  min-height: 27rem !important; }

.max-h-27-rem {
  max-height: 27rem !important; }

.h-37-rem {
  height: 37rem !important; }

.min-h-37-rem {
  min-height: 37rem !important; }

.max-h-37-rem {
  max-height: 37rem !important; }

.h-47-rem {
  height: 47rem !important; }

.min-h-47-rem {
  min-height: 47rem !important; }

.max-h-47-rem {
  max-height: 47rem !important; }

.h-57-rem {
  height: 57rem !important; }

.min-h-57-rem {
  min-height: 57rem !important; }

.max-h-57-rem {
  max-height: 57rem !important; }

.h-67-rem {
  height: 67rem !important; }

.min-h-67-rem {
  min-height: 67rem !important; }

.max-h-67-rem {
  max-height: 67rem !important; }

.h-77-rem {
  height: 77rem !important; }

.min-h-77-rem {
  min-height: 77rem !important; }

.max-h-77-rem {
  max-height: 77rem !important; }

.h-87-rem {
  height: 87rem !important; }

.min-h-87-rem {
  min-height: 87rem !important; }

.max-h-87-rem {
  max-height: 87rem !important; }

.h-97-rem {
  height: 97rem !important; }

.min-h-97-rem {
  min-height: 97rem !important; }

.max-h-97-rem {
  max-height: 97rem !important; }

.h-8-rem {
  height: 8rem !important; }

.min-h-8-rem {
  min-height: 8rem !important; }

.max-h-8-rem {
  max-height: 8rem !important; }

.h-18-rem {
  height: 18rem !important; }

.min-h-18-rem {
  min-height: 18rem !important; }

.max-h-18-rem {
  max-height: 18rem !important; }

.h-28-rem {
  height: 28rem !important; }

.min-h-28-rem {
  min-height: 28rem !important; }

.max-h-28-rem {
  max-height: 28rem !important; }

.h-38-rem {
  height: 38rem !important; }

.min-h-38-rem {
  min-height: 38rem !important; }

.max-h-38-rem {
  max-height: 38rem !important; }

.h-48-rem {
  height: 48rem !important; }

.min-h-48-rem {
  min-height: 48rem !important; }

.max-h-48-rem {
  max-height: 48rem !important; }

.h-58-rem {
  height: 58rem !important; }

.min-h-58-rem {
  min-height: 58rem !important; }

.max-h-58-rem {
  max-height: 58rem !important; }

.h-68-rem {
  height: 68rem !important; }

.min-h-68-rem {
  min-height: 68rem !important; }

.max-h-68-rem {
  max-height: 68rem !important; }

.h-78-rem {
  height: 78rem !important; }

.min-h-78-rem {
  min-height: 78rem !important; }

.max-h-78-rem {
  max-height: 78rem !important; }

.h-88-rem {
  height: 88rem !important; }

.min-h-88-rem {
  min-height: 88rem !important; }

.max-h-88-rem {
  max-height: 88rem !important; }

.h-98-rem {
  height: 98rem !important; }

.min-h-98-rem {
  min-height: 98rem !important; }

.max-h-98-rem {
  max-height: 98rem !important; }

.h-9-rem {
  height: 9rem !important; }

.min-h-9-rem {
  min-height: 9rem !important; }

.max-h-9-rem {
  max-height: 9rem !important; }

.h-19-rem {
  height: 19rem !important; }

.min-h-19-rem {
  min-height: 19rem !important; }

.max-h-19-rem {
  max-height: 19rem !important; }

.h-29-rem {
  height: 29rem !important; }

.min-h-29-rem {
  min-height: 29rem !important; }

.max-h-29-rem {
  max-height: 29rem !important; }

.h-39-rem {
  height: 39rem !important; }

.min-h-39-rem {
  min-height: 39rem !important; }

.max-h-39-rem {
  max-height: 39rem !important; }

.h-49-rem {
  height: 49rem !important; }

.min-h-49-rem {
  min-height: 49rem !important; }

.max-h-49-rem {
  max-height: 49rem !important; }

.h-59-rem {
  height: 59rem !important; }

.min-h-59-rem {
  min-height: 59rem !important; }

.max-h-59-rem {
  max-height: 59rem !important; }

.h-69-rem {
  height: 69rem !important; }

.min-h-69-rem {
  min-height: 69rem !important; }

.max-h-69-rem {
  max-height: 69rem !important; }

.h-79-rem {
  height: 79rem !important; }

.min-h-79-rem {
  min-height: 79rem !important; }

.max-h-79-rem {
  max-height: 79rem !important; }

.h-89-rem {
  height: 89rem !important; }

.min-h-89-rem {
  min-height: 89rem !important; }

.max-h-89-rem {
  max-height: 89rem !important; }

.h-99-rem {
  height: 99rem !important; }

.min-h-99-rem {
  min-height: 99rem !important; }

.max-h-99-rem {
  max-height: 99rem !important; }

.h-10-rem {
  height: 10rem !important; }

.min-h-10-rem {
  min-height: 10rem !important; }

.max-h-10-rem {
  max-height: 10rem !important; }

.h-20-rem {
  height: 20rem !important; }

.min-h-20-rem {
  min-height: 20rem !important; }

.max-h-20-rem {
  max-height: 20rem !important; }

.h-30-rem {
  height: 30rem !important; }

.min-h-30-rem {
  min-height: 30rem !important; }

.max-h-30-rem {
  max-height: 30rem !important; }

.h-40-rem {
  height: 40rem !important; }

.min-h-40-rem {
  min-height: 40rem !important; }

.max-h-40-rem {
  max-height: 40rem !important; }

.h-50-rem {
  height: 50rem !important; }

.min-h-50-rem {
  min-height: 50rem !important; }

.max-h-50-rem {
  max-height: 50rem !important; }

.h-60-rem {
  height: 60rem !important; }

.min-h-60-rem {
  min-height: 60rem !important; }

.max-h-60-rem {
  max-height: 60rem !important; }

.h-70-rem {
  height: 70rem !important; }

.min-h-70-rem {
  min-height: 70rem !important; }

.max-h-70-rem {
  max-height: 70rem !important; }

.h-80-rem {
  height: 80rem !important; }

.min-h-80-rem {
  min-height: 80rem !important; }

.max-h-80-rem {
  max-height: 80rem !important; }

.h-90-rem {
  height: 90rem !important; }

.min-h-90-rem {
  min-height: 90rem !important; }

.max-h-90-rem {
  max-height: 90rem !important; }

.h-100-rem {
  height: 100rem !important; }

.min-h-100-rem {
  min-height: 100rem !important; }

.max-h-100-rem {
  max-height: 100rem !important; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  color: #333333;
  line-height: 1.4; }

a:link {
  color: #0646a0;
  text-decoration: none; }

a:visited {
  color: #551a8b;
  text-decoration: none; }

a:hover,
a:active {
  color: #ee0000;
  text-decoration: underline; }

.global-header {
  background-color: #fff; }

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 1024px; }

.site-title {
  font-size: 1.75rem; }

.site-title__link {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .site-title__link:link {
    color: #000; }
  .site-title__link:visited {
    color: #000; }
  .site-title__link:hover {
    color: #000; }
  .site-title__link:active {
    color: #000; }
  .site-title__link:focus {
    color: #000; }
  .site-title__link:hover {
    text-decoration: none; }

.header__logo {
  display: inline-block;
  margin-right: .2em;
  width: 60px;
  height: 60px; }
  .header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: -.40em;
  margin-left: auto; }
  .header__menu-list > *,
  .header__menu-list li, .header__menu-list dt, .header__menu-list dd {
    letter-spacing: normal; }
  .header__menu-list .list-item {
    display: inline-block;
    font-size: 0.875rem; }
    .header__menu-list .list-item:nth-child(n+2) {
      margin-left: 1em; }
    .header__menu-list .list-item a:link {
      color: #000; }
    .header__menu-list .list-item a:visited {
      color: #000; }
    .header__menu-list .list-item a:hover {
      color: #000; }
    .header__menu-list .list-item a:active {
      color: #000; }
    .header__menu-list .list-item a:focus {
      color: #000; }

.global-nav {
  background-color: #000; }

.nav__container {
  margin: 0 auto;
  width: 1024px; }

.nav__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: -.40em;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .nav__menu-list > *,
  .nav__menu-list li, .nav__menu-list dt, .nav__menu-list dd {
    letter-spacing: normal; }

.nav-item {
  display: block;
  flex: 1; }
  .nav-item a {
    display: block;
    padding: 1rem 0.5rem;
    color: #fff;
    text-align: center; }
    .nav-item a:hover {
      background-color: #24282a; }

.nav-item-schedule {
  flex: 1.2; }

.nav-item-access {
  flex: 1.2; }

.main__wrapper {
  background-color: #fff; }

.main__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1rem 0;
  width: 1024px; }

.main-content {
  flex: 1; }

.main__image {
  position: relative;
  height: 186px;
  background-image: url("/images/main_image_02.jpg");
  background-repeat: no-repeat;
  background-size: contain; }
  .main__image .inside-text {
    position: absolute;
    top: 96px;
    right: 12px;
    bottom: 12px;
    left: 284px;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.3; }

.main__frame {
  width: 724px;
  height: 900px; }

.side-content {
  padding-left: 1rem;
  width: 300px; }

.side__column:nth-child(n+2) {
  margin-top: 1rem; }

.side__column-unit a {
  display: block;
  padding: 2rem 0;
  background-color: #343a40;
  color: #fff;
  text-align: center; }

.col-unit-diary a {
  background-color: #495057; }

.col-unit-instructor a {
  background-color: #c20404; }

.footer__container {
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 1024px;
  color: #fff;
  font-size: 0.875rem; }

.footer__menu {
  margin-bottom: 1.5rem; }

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: -.40em; }
  .footer__menu-list > *,
  .footer__menu-list li, .footer__menu-list dt, .footer__menu-list dd {
    letter-spacing: normal; }
  .footer__menu-list:nth-child(n+2) {
    margin-top: 0.5rem; }
  .footer__menu-list .list-item {
    display: inline-block;
    font-size: 0.875rem; }
    .footer__menu-list .list-item:nth-child(n+2) {
      margin-left: 1em; }
    .footer__menu-list .list-item a {
      color: #fff; }

.description {
  margin-bottom: 1.5rem;
  font-size: 0.875rem; }

.copyright {
  font-size: 0.75rem;
  text-align: center; }

.fas {
  margin-right: .2em;
  color: #c20404; }
