$desktop-client-width: 960px !default;
$desktop-client-primary-column-width: 688px !default;
$desktop-client-secondary-column-width: 260px !default;

$space-1: .5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 2.5rem;
$space-6: 3rem;
