.global-header {
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: $desktop-client-width;
}

.site-title {
  font-size: $font-size-xlg;
}

.site-title__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  display: inline-block;
  margin-right: .2em;
  width: 60px;
  height: 60px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.header__menu-list {
  margin-left: auto;

  .list-item {
    display: inline-block;
    font-size: $font-size-sm;

    &:nth-child(n+2) {
      margin-left: 1em;
    }
  }
}
