.main__wrapper {
  background-color: $white;
}

.main__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: $space-2 0;
  width: $desktop-client-width;
}

.main-content {
  flex: 1;
}

.main__frame {
  width: $desktop-client-primary-column-width;
  height: 900px;
}

.side-content {
  margin-left: $space-2;
  width: $desktop-client-secondary-column-width;
}

.side__column {
  &:nth-child(n+2) {
    margin-top: $space-2;
  }
}

.side__column-unit {
  a {
    display: block;
    padding: $space-4 0;
    background-color: $dark;
    color: $white;
    text-align: center;
  }
}

.col-unit-diary {
  a {
    background-color: $gray-700;
  }
}

.col-unit-instructor {
  a {
    background-color: $secondary;
  }
}
