.global-nav {
  background-color: $black;
}

.nav__container {
  margin: 0 auto;
  width: $desktop-client-width;
}

.nav__menu-list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: block;
  flex: 1;

  a {
    display: block;
    padding: $space-2 $space-1;
    color: $white;
    text-align: center;

    &:hover {
      background-color: $gray-900;
    }
  }
}

.nav-item-schedule { flex: 1.2; }
.nav-item-access   { flex: 1.2; }
