.global-nav {
  background-color: $black;
}

.nav__container {
  margin: 0 auto;
  width: $column-primary-width;
}

.nav__menu-list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: block;
  flex: 1;

  a {
    display: block;
    color: $white;
    text-align: center;
  }
}
