// Size

.fs-xsm {
  font-size: $font-size-xsm;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-md {
  font-size: $font-size-base;
}

.fs-lg {
  font-size: $font-size-lg;
}

.fs-xlg {
  font-size: $font-size-xlg;
}
